<div id= "condition_list"
<h1>Conditions</h1>

<table>
  <tr>
    <th>Condition Code</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @conditions.each do |condition| %>
  <tr class=" <%= cycle('list_line_odd' , 'list_line_even' ) %>" >
    <td><%= condition.conditioncode %></td>
    <td><%= condition.description %></td>
    <td><%= link_to 'Show', condition %></td>
    <td><%= link_to 'Edit', edit_condition_path(condition) %></td>
    <td><%= link_to 'Destroy', condition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>

<br />

<%= link_to 'New Condition', new_condition_path %>
