<h1>Show Condition</h1>
<p id="notice"><%= notice %></p>

<table>
    <tr>
      <td><b>Conditioncode:</b></td>
      <td><%= @condition.conditioncode %></td>
    </tr>

    <tr>
      <td><b>Description:</b></td>
      <td><%= @condition.description %></td>
    </tr>
<table>

<%= link_to 'Edit', edit_condition_path(@condition) %> |
<%= link_to 'Back', conditions_path %>
