<p id="notice"><%= notice %></p>

<p>
  <b>Contactid:</b>
  <%= @user.contactid %>
</p>

<p>
  <b>Contactcode:</b>
  <%= @user.contactcode %>
</p>

<p>
  <b>Firstname:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>Middlename:</b>
  <%= @user.middlename %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Title:</b>
  <%= @user.title %>
</p>

<p>
  <b>Department:</b>
  <%= @user.department %>
</p>

<p>
  <b>Securityprofileid:</b>
  <%= @user.securityprofileid %>
</p>

<p>
  <b>Orderdefaultid:</b>
  <%= @user.orderdefaultid %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Locked:</b>
  <%= @user.locked %>
</p>

<p>
  <b>Passwordchange:</b>
  <%= @user.passwordchange %>
</p>

<p>
  <b>Active:</b>
  <%= @user.active %>
</p>

<p>
  <b>Mobilityversion:</b>
  <%= @user.mobilityversion %>
</p>

<p>
  <b>Address1:</b>
  <%= @user.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @user.address2 %>
</p>

<p>
  <b>Address3:</b>
  <%= @user.address3 %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  <b>Stateprovince:</b>
  <%= @user.stateprovince %>
</p>

<p>
  <b>Country:</b>
  <%= @user.country %>
</p>

<p>
  <b>Postalcode:</b>
  <%= @user.postalcode %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Cellphone:</b>
  <%= @user.cellphone %>
</p>

<p>
  <b>Pagerphone:</b>
  <%= @user.pagerphone %>
</p>

<p>
  <b>Faxphone:</b>
  <%= @user.faxphone %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Url:</b>
  <%= @user.url %>
</p>

<p>
  <b>Locationdetailid:</b>
  <%= @user.locationdetailid %>
</p>

<p>
  <b>Supervisorcontactid:</b>
  <%= @user.supervisorcontactid %>
</p>

<p>
  <b>Approvercontactid:</b>
  <%= @user.approvercontactid %>
</p>

<!--<p>-->
  <!--<b>Approverdollars:</b>-->
  <!--<%# @user.approverdollars %>-->
<!--</p>-->

<p>
  <b>Addcontactid:</b>
  <%= @user.addcontactid %>
</p>

<p>
  <b>Adddttm:</b>
  <%= @user.adddttm %>
</p>

<p>
  <b>Managecontactid:</b>
  <%= @user.managecontactid %>
</p>

<p>
  <b>Managedttm:</b>
  <%= @user.managedttm %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
